.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  cursor: pointer;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-bg);
  border: 1px solid var(--color-s1);
  transition: 0.4s;
  border-radius: 15px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  border-radius: 50%;
  left: 2px;
  bottom: 2px;
  z-index: 2;
  background-color: var(--color-p1);
  transition: 0.4s;
}

.sun svg {
  fill: var(--color-p1);
  position: absolute;
  top: 6px;
  right: 6px;
  z-index: 1;
  width: 18px;
  height: 18px;
}

.moon svg {
  fill: var(--color-p1);
  position: absolute;
  top: 6px;
  left: 6px;
  z-index: 1;
  width: 18px;
  height: 18px;
}

.sun svg {
  animation: rotate 15s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.moon svg {
  animation: tilt 5s linear infinite;
}

@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.input:focus-visible + .slider {
  outline: 1px auto Highlight;
  outline: 1px auto -webkit-focus-ring-color;
}

.input:checked + .slider:before {
  transform: translateX(30px);
}
