<main class="main">
  <header class="header">
    <button>Switch mode</button>
    <figure>
      <img src="assets/logo.svg" alt="Dodo list Logo" />
    </figure>
  </header>
  <section>
    <form class="input">
      <input type="text" placeholder="Adicione sua tarefa" />
      <button type="submit">Adicionar</button>
    </form>
    <hr class="separator" />
    <section class="list">
      <ul class="filter">
        <li>Todas</li>
        <li>Abertas</li>
        <li>Concluídas</li>
      </ul>
      <ul class="items">
        <li>Item 00</li>
        <li>Item 01</li>
        <li>Item 02</li>
      </ul>
    </section>
  </section>
</main>

<router-outlet />
