<main class="main">
  <app-header class="fadeIn"></app-header>
  <section class="fadeIn">
    <task-input (onSubmit)="addTask($event)"></task-input>
    <img
      src="assets/wave.svg"
      alt="Separator"
      class="separator"
      width="92"
      height="10"
    />
    <section class="list">
      @if (tasks.length > 0) {
      <task-filter (onClick)="filterTasks($event)" [tasks]="tasks" />
      @let filteredTasks = tasks | taskStatusFilter: filterStatus;
      <ul class="tasks">
        @for (task of filteredTasks; track task.id) {
        <li
          class="task fadeIn"
          [task]="task"
          [id]="$index"
          (onCheck)="sortTasks()"
          (onDelete)="removeTask($event)"
          [@fadeOut]
        ></li>
        } @if (!filteredTasks.length) {
        <li class="fadeIn">
          <p class="not-found">Nenhuma tarefa encontrada.</p>
        </li>
        }
      </ul>
      } @else {
      <p class="not-found fadeIn">Nenhuma tarefa adicionada.</p>
      }
    </section>
  </section>
</main>

<router-outlet />
